/*
    app styles!
 */

button:active,
button:focus,
button {
    background-image: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid grey;
}
.container {
    display: flex;
    flex-flow: column;
    padding: 20px;
    background: black;
}
.btn-next {
    background: orange;
    color: white;
}
.btn-show {
    background: green;
    color: white;
}
.btn-hide {
    background: black;
    color: white;
}

/*
    component styles!
 */

.wrapper {
    display: flex;
    flex-flow: column;
    background: white;
}
.paragraph {
    line-height: 24px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: chocolate;
    color: white;
    padding-left: 3px;
    padding-right: 3px
}
.toggle {
    width: 100%;
}
.toggle > button {
    width: 100%;
}